<div *ngIf='product.quantity >=1'>
  <table class='table'>
    <thead>
      <th>Name</th>
      <th>Quantity</th>
      <th>Sell</th>
      <th>Select Buyer</th>
    </thead>
    <tbody>
      <tr>
        <td>{{product.name}}</td>
        <td>{{product.quantity}}</td>
        <td>
          <button (click)='buyerPurchase(product)'>
            Confirm
          </button>
        </td>
        <td>
          <button routerLink='/products'>
            Cancel
          </button>
        </td>
        <td>
          <select [(ngModel)]='selectBuyerId'>
            <option *ngFor='let buyer of buyers'
                    [ngValue]="buyer.id">
              {{buyer.firstName}}
            </option>
          </select>
        </td>
      </tr>

    </tbody>
  </table>
</div>
<div *ngIf='product.quantity==0'>
  <button routerLink='/products' >Back to products</button>
</div>
